/*------ Service Stylesheet  -----*/

.card {
  background-color: rgb(181, 218, 228);
  margin: 1px;
}

.card:hover {
  color: white;
  position: relative;
}

.doctor-pic {
  height: 40vh;
  width: 100%;
}

.service-text:hover {
  color: rgb(136, 181, 226);
}

.btn {
  background-color: goldenrod;
}
